* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    background: #222;
    min-height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    position: relative;
}

.container .profile {
    background-color: #333;
    border: 1px solid;
    border-color: #d1a618;
    position: absolute;
    top: 70%;
    border-radius: 25px 25px 16px 16px;    
    height: 190px;
    width: 300px;
    transition: 0.5s;
}

.container .profile .border {
    box-shadow: 0 20px 50px rgba(255, 255, 255, 0.15);
    height: 150px;
    height: 150px;
    border-radius: 20px;
    background: #222;
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
    overflow: hidden;
}

.profile .content {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    overflow: hidden;
}

.profile .content .details {
    width: 100%;
    padding: 40px;
    text-align: center;
    transition: 0.5s;
    transform: translateY(250px);
}

.profile:hover .content .details{
    transform: translateY(0px);
}

.profile .content .details h2 {
    font-size: 1.15em;
    font-weight: 600;
    color: #c9c4c4;
    line-height: 1.2em;
}

.profile .content .details h2 span {
    font-size: 0.75em;
    opacity: 0.5;
}

.profile .content .details .profile-data {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
    margin: 20px 0;
}

.profile .content .details .profile-data h3 {
    font-size: 1em;
    color: #a8a8a8;
    line-height: 1.2em;
    margin: 15px 0 15px 0;
    font-weight: 600;
    letter-spacing: 1px;
}

.border img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    color: #ffffff;
    line-height: 1.2em;
}

.inv-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    background-color: #333;
    align-items: center;
    height: 660px;
    width: 1360px;
    margin: 50px;
    padding: 0 0 50px 0;
    position: relative;
    overflow: hidden;
    border-radius: 25px;
}

.inv-container h3  {
    margin: 20px 0 0 0;
    position: absolute;
    background: #333;
    color: #d1a618;
    padding: 3px;
    top: 0;
}

.inv-container .inv-img {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 70px;
    background: #111;
    border-radius: 250px;
    width: 815px;
    height: 515px;
}

.inv-container .inv-img img {
    width: 800px;
    height: 500px;
    object-fit: cover;
    border-radius: 600px;
}


.inv-container .btn {
    position: absolute;
    top: 90%;
    left: 82%;
    font-size: 1.2rem;
    width: 160px;
    height: 40px;
    border-radius: 25px;
    font-weight: 600;
    cursor: pointer;
    border: none;
}

.btn:hover {
    background-color: #222;
    color: #fff;
    transition: 0.2s;
    letter-spacing: 0.15rem;
    box-shadow: 0 0 35px #fff;
}


.info {
    position: absolute;
    border: 1px #d1a618 solid;
    top: 98%;
    left: 25%;
    width: 70%;
    color: #fff;
    background: #333;
    padding: 5px;
    font-weight: 500;
    font-size: 0.9rem;
    letter-spacing: 0.03rem;
}

.profile:hover {
    height: 430px;
    box-shadow: 0 0 35px #d1a618;
}




